.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .select {
    width: 100%;
    margin-bottom: 24px;
  }

  .imageBlock {
    width: 100%;
    margin-bottom: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .fileUploader {
    margin-bottom: 30px;
  }

  .input {
    width: 100%;
    margin-bottom: 24px;
  }

  .buttonsContainer {
    display: flex;
    align-self: center;
    justify-content: space-between;

    width: 100%;
    padding-top: 12px;
  }
}
