.cards {
  display: flex;
  flex-direction: column;
  gap: 30px;

  max-width: 1006px;
  margin: 36px auto auto;

  .button {
    align-self: end;
  }

  .image {
    width: 150px;
    height: 50px;
  }
}

.textModal {
  width: 100%;
  white-space: pre-line;
}

.blockButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
