.pageDeck {
  display: flex;
  flex-direction: column;
  gap: 30px;

  max-width: 1006px;
  margin: 36px auto auto;

  .button {
    align-self: end;
  }

  .deckName {
    color: var(--color-light-100);
    text-decoration: none;
  }

  .tempbutton:hover {
    cursor: pointer;
  }
}

.textModal {
  width: 100%;
  white-space: pre-line;
}

.blockButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.iconsContainer {
  display: flex;
  gap: 25px;
}

.icon {
  padding: 0;
  border: none;
}

.image {
  height: 50px;
}
