.pageDeck {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 36px;

  .button {
    display: flex;
    align-self: end;
    margin: 0 136px;
  }

  .tempButton {
    background-color: var(--color-accent-500);
    border: none;
    border-radius: 0.25rem;
  }
  .deckName {
    text-decoration: none;
  }
}
.textModal {
  width: 100%;

  white-space: pre-line;
}

.blockButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
